* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  background-color: #eee;
  text-align: center;
  box-sizing: border-box;
}
.container {
  padding: 15vw 3vw 0;
}
.container .search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3vw;
  background-color: #eee;
}
.container #search-box {
  width: 100%;
  border: 3px solid #000;
  padding: 3vw 3vw;
  font-size: 5.5vw;
}

.container .image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.container .image-container .image {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
  width: 350px;
  border-radius: 5px;
  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5) translateY(-10px);
    opacity: 0;
  }
}

.container .image-container .image img {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container .image-container .image h3 {
  font-size: 5.5vw;
  margin-bottom: 1vw;
}

.container .image-container .image p.price {
  font-size: 5.5vw;
  font-weight: bold;
  color: #c50909;
}

footer {
  background: #000;
  color: #fff;
  margin-top: 15vw;
  padding: 9vw 0;
  font-size: 6vw;
  letter-spacing: 0.04em;
  font-weight: bold;
}
